@import "tailwindcss";
@import "highlight.js/styles/base16/gruvbox-dark-hard.css";

@theme {
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --color-gruvbox-lime: #b8bb26;
  --color-gruvbox-orange: #fb4934;
  --color-gruvbox-purple: #d3869b;
  --color-gruvbox-blue: #83a598;
  --color-stone-50: #faf7f2;
  --color-stone-100: #f2eee2;
  --color-stone-200: #e5dbc3;
  --color-stone-300: #d5c4a1;
  --color-stone-400: #c1a476;
  --color-stone-500: #b48d5b;
  --color-stone-600: #a77b4f;
  --color-stone-700: #8b6443;
  --color-stone-800: #71523b;
  --color-stone-900: #5c4432;
  --color-stone-950: #312219;
}

@layer utilities {
  .font-mono {
    font-family: var(--font-mono);
  }
}

html {
  @apply bg-neutral-950 text-stone-300 selection:bg-gruvbox-lime selection:text-neutral-950;
  min-width: 360px;
}

body {
  @apply bg-neutral-950;
}

p {
  @apply text-stone-300/80;
}

.hljs {
  @apply bg-neutral-950 selection:bg-gruvbox-lime selection:text-neutral-950;
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply underline transition-all text-stone-300 decoration-stone-300 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-gruvbox-lime;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply overflow-x-auto border border-stone-300/20 border-[0.1em] text-sm p-2;
}

.prose code {
  @apply text-xs;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose p {
  @apply my-4 text-stone-300/80 text-sm;
}

.prose h1 {
  @apply text-4xl font-bold tracking-tight mt-6 mb-2;
}

.prose h2 {
  @apply text-xl font-bold tracking-tight mt-6 mb-2;
}

.prose h3 {
  @apply text-xl font-bold tracking-tight mt-6 mb-2;
}

.prose h4 {
  @apply text-lg font-bold tracking-tight mt-6 mb-2;
}

.prose strong {
  @apply font-semibold;
}

.prose ul {
  @apply list-disc pl-6;
}

.prose ol {
  @apply list-decimal pl-6;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.title {
  text-wrap: balance;
}
